/* App.css */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.show-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Space between items */
  padding: 20px;
  background: linear-gradient(136deg, #433b3b 1%, #2633e7 80.65%, #AC94E7 99.39%), #FFF;
}

.show-item img {
  width: 250px;
}

.show-item {
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Keeps content within boundaries */
  width: 250px; /* Width of each item */
  box-shadow: 5px 5px 20px black;
  position: relative;
  transition: transform 0.3s ease;
}

.movie-title {
  background:  #433b3b;
  padding: 0px;
  font-family: sans-serif;
  color: white;
  font-weight: lighter;
}

.show-item:hover {
  transform: scale(1.05); /* Enlarges item on hover */
}

.show-item-details {
  display: none; /* Hidden by default */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: #ffffff;
  padding: 10px;
  text-align: center; /* Centered text */
}

.show-item:hover .show-item-details {
  display: block; /* Shows on hover */
  cursor: pointer;
}

.show-item h2 {
  margin: -4px;
  padding: 5px 10px; /* Padding for title */
  text-align: center; /* Centered title */
}

/* Responsive Design */
@media (max-width: 768px) {
  .show-list-container {
    gap: 15px;
    padding: 15px;
  }

  .show-item, .show-item img {
    width: 200px; /* Smaller width */
  }

  .show-item h2 {
    font-size: 1.2rem; /* Smaller font size */
  }

  .show-item-details {
    padding: 8px;
    font-size: 0.9rem; /* Smaller font size */
  }
}

@media (max-width: 480px) {
  .show-list-container {
    gap: 10px;
    padding: 10px;
  }

  .show-item, .show-item img {
    width: 150px; /* Further reduced width */
  }

  .show-item h2 {
    font-size: 1rem; /* Further reduced font size */
  }

  .show-item-details {
    padding: 5px;
    font-size: 0.8rem; /* Further reduced font size */
  }
}
